

.container{
    .welcome_massage{
        margin-top: 20px;
        margin-bottom: 20px;
        h2 {
            text-align: center;
            padding: 14px;
            font-weight: 600;
            color : rgb(179, 212, 118)
        }
        p{
            text-align: justify;
            width: 1175px;
            margin: 0 auto;
            padding: 27px;
            font-size: 20px;
            
        }
    }
    .history{
        margin-top: 20px;
        margin-bottom: 20px;
        h2 {
            text-align: center;
            padding: 14px;
            font-weight: 600;
            color : rgb(179, 212, 118)
        }
        p{
            text-align: justify;
            width: 1175px;
            margin: 0 auto;
            padding: 27px;
            font-size: 20px;
            
        }
    }
    .vision{
        margin-top: 20px;
        margin-bottom: 20px;
        h2 {
            text-align: center;
            padding: 14px;
            font-weight: 600;
            color : rgb(179, 212, 118)
        }
        p{
            text-align: justify;
            width: 1175px;
            margin: 0 auto;
            padding: 27px;
            font-size: 20px;
            
        }
    }

}

